.navbar {
  background: lightsteelblue;
  padding: 12px;
}

.navbar-brand {
  text-decoration: none;
  color: black;
  font-size: x-large;
  display: flex;
  align-items: center;
}

.navbar-title {
  margin-left: 8px;
}
