.navbar-brand {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.navbar {
  background: lightgrey;
  padding: 12px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-field {
  width: 100%;
  max-width: 400px;
  margin: 16px !important;
}
